In [9]:
import pandas as pd
data = pd.read_csv('../data/beauty.csv', sep=';')
data.head()

    wage  exper  union  goodhlth  black  female  married  service  educ  looks
0   5.73     30      0         1      0       1        1        1    14      4
1   4.28     28      0         1      0       1        1        0    12      3
2   7.96     35      0         1      0       1        0        0    10      4
3  11.57     38      0         1      0       0        1        1    16      3
4  11.42     27      0         1      0       0        1        0    16      3

In [11]:
data.shape

(1260, 10)

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1260 entries, 0 to 1259
Data columns (total 10 columns):
wage        1260 non-null float64
exper       1260 non-null int64
union       1260 non-null int64
goodhlth    1260 non-null int64
black       1260 non-null int64
female      1260 non-null int64
married     1260 non-null int64
service     1260 non-null int64
educ        1260 non-null int64
looks       1260 non-null int64
dtypes: float64(1), int64(9)
memory usage: 98.5 KB

In [17]:
data.iloc[[0, 1, 5], [0, 5, 3]]

   wage  female  goodhlth
0  5.73       1         1
1  4.28       1         1
5  3.91       1         0

In [18]:
data.loc[0:5, 'wage':'union']

    wage  exper  union
0   5.73     30      0
1   4.28     28      0
2   7.96     35      0
3  11.57     38      0
4  11.42     27      0
5   3.91     20      0

In [19]:
type(data)

pandas.core.frame.DataFrame

In [31]:
data[data['female'] == 1]['wage'].mean() > data[data['female'] == 0]['wage'].mean()

False

FileNotFoundError: File b'../../data/adult.data.csv' does not exist